:root{
    --color-grupo: #7e7d7d;
	--gris-claro: #f0f0f0;
    --color-titulo-categorias: var(--danger);
    --handler-icon-size: 18px;
    --handler-icon-size-grupo: 12px;
}

.categorias-dragger-titulo{
    padding: .4rem 1rem;
}

#modalEditarCategoria{
    padding: 0.5rem 4rem !important;
    width: auto !important;
    max-width: none !important;

    .closeModalCancelar{
        align-self: flex-end;
        font-size: var(--large-text);
    }
    .titulo{
        font-size:  var(--largest-text);
        font-weight: 600;
        color: #2e2e2e;
        span{
            color: #009A35;
        }
    }
    .opcion{
        border: #dfdfdf solid 2px;
        border-radius: 10px; 
        padding: 1rem;
        margin-bottom: 1.5rem;
        box-shadow: -2px 2px 10px #797979;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .textoOpcion{
            span{
                font-size:  var(--medium-text);
                font-weight: 600;
                color: #2e2e2e;
            }
            font-size:  var(--medium-text);
            font-weight: 600;
            color: #dd4040;
            align-self: flex-start;
            margin-bottom: 0.3rem;
        }
    }
    .opcionesTextoCategoria{
        label{
            font-size:  var(--medium-text);
            font-weight: 400;
            color: #6d6d6d;
            width: 100%;
            input{
                border-radius: 10px;
                border:  #cfcfcf solid 4px;
                &::placeholder{
                    color: #339b57;
                }
            }
        }
    }
}

::selection {
    background-color: #5a5a5a96;
}

.grupo{
    &::selection {
        background-color: #ececec;
        color: #009A35;
    }
}

.titulo-categorias-section{
    font-size: var(--large-text);
    font-weight: 600;
}

.contenedorCategorias{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: 70% minmax(0, 1fr);
    .arriba{
        width: 100%;
        display: flex;
        flex-direction: column;
        // .titulo{
        //     width: 100%;
        //     color: #fff;
        //     font-size: var(--large-text);
        //     font-weight: 600;
        //     text-align: center;
        //     background-color: var(--color-titulo-categorias);
        //     margin: 0;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
        .secciones{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 50% minmax(0, 1fr);
            @media only screen and (min-width: $tablet-s){
                grid-template-columns: 40% minmax(0, 1fr);
            }
            @media only screen and (min-width: $laptop-l){
                grid-template-columns: 30% minmax(0, 1fr);
            }
            .listaCategorias{
                position: relative;
                height: 100%;
                border: solid 4px #ddd;
                border-top: none;
                border-bottom: none;
                border-right: none;
                display: flex;
                flex-direction: column;
                padding-right: 0.25rem;
                .contenedorAgregar{
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &::after{
                        position: absolute;
                        content: "";
                        bottom: 0px;
                        background-color: #777777;
                        border-radius: 2px;
                        width: 90%;
                        height: 3px;
                    }
                    .agregar{
                        margin: 1rem 0;
                        padding: 0 0.5rem;
                        width: 90%;
                        height: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        input{
                            border: none;
                            margin: 0;
                            width: calc(100% - 2.5rem);
                            height: 80%;
                            padding: 0 0.5rem;
                            margin-left: 0.5rem;
                            display: none;
                            background-color:transparent; 
                            &::placeholder { 
                                color: #dd4040;
                                opacity: 1; 
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                        .add{
                            &::selection {
                                background-color: rgba(255, 255, 255, 0);
                            }
                            width: 2.5rem;
                            height: 2.5rem;
                            font-size: var(--big-text);
                            font-weight: 600;
                            text-align: center;
                            color: #777777;
                            box-sizing: border-box;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0;
                            padding: 0;
                            flex-shrink: 0;
                            border: solid 2px #777777;
                            border-radius: 50px;
                        }

                        &.hover{
                            animation: agregarAnimation 1.2s ease-in-out 0s 1 normal forwards;
                            /* Standard syntax */
                            @keyframes  agregarAnimation {
                                0% {
                                    border: solid 2px #777777;
                                    border-radius: 50px;
                                    padding: 0 0rem;
                                    width: calc(2.5rem);
                                }
                                10% {
                                    width: calc(5% + 2.5rem);
                                    border-radius: 50px;
                                }
                                50% {
                                    width: 50%;
                                    border-radius: 50px;
                                }
                                100% {
                                    border: solid 2px #777777;
                                    border-radius: 50px;
                                    padding: 0 0.5rem;
                                    width: 90%;
                                }
                            }
                            input{
                                display: block;
                                animation: inputAnimation 1.2s ease-in-out 0s 1 normal forwards;
                                @keyframes  inputAnimation {
                                    0%{
                                        width: 0;
                                        margin: 0;
                                        padding: 0;
                                    }
                                    5% {
                                        width: 0;
                                        margin: 0;
                                        padding: 0;
                                    }
                                    100% {
                                        border: none;
                                        margin: 0;
                                        width: calc(100% - 2.5rem);
                                        height: 80%;
                                        padding: 0 0.5rem;
                                        margin-left: 0.5rem;
                                    }
                                }
                            }
                            .add{
                                animation: addAnimation 1.2s ease-in-out 0s 1 normal forwards, bounceAdd 0.4s ease-in-out 1.2s 1 normal forwards;
                                @keyframes  addAnimation {
                                    0% {
                                        border: solid 2px rgba(119, 119, 119, 0);
                                        border-radius: 50px;
                                        transform: rotate(0deg);
                                    }
                                    100% {
                                        border: solid 2px rgba(119, 119, 119, 0);
                                        border-radius: 50px;
                                        transform: rotate(360deg);
                                    }
                                }
                                @keyframes  bounceAdd {
                                    0% {
                                        transform: scale(1.2);
                                        color: #777777;
                                    }
                                    15% {
                                        transform: scale(1.3);
                                        color: #777777;
                                    }
                                    30%{
                                        transform: scale(2);
                                    }
                                    50%{
                                        transform: scale(1);
                                    }
                                    75%{
                                        transform: scale(1.8);
                                    }
                                    100% {
                                        transform: scale(1);
                                        color: red;
                                    }
                                }
                            }
                        }

                        &.unhover{
                            animation: quitarAnimation 1.2s ease-in-out 0s 1 normal forwards;
                            /* Standard syntax */
                            @keyframes  quitarAnimation {
                                100% {
                                    border: solid 2px #777777;
                                    border-radius: 50px;
                                    padding: 0 0rem;
                                    width: calc(2.5rem);
                                }
                                90% {
                                    width: calc(5% + 2.5rem);
                                    border-radius: 50px;
                                }
                                50% {
                                    width: 50%;
                                    border-radius: 50px;
                                }
                                0% {
                                    border: solid 2px #777777;
                                    border-radius: 50px;
                                    padding: 0 0.5rem;
                                    width: 90%;
                                }
                            }
                            input{
                                display: block;
                                animation: outputAnimation 1.2s ease-in-out 0s 1 normal forwards;
                                @keyframes  outputAnimation {
                                    100%{
                                        width: 0;
                                        margin: 0;
                                        padding: 0;
                                    }
                                    95% {
                                        width: 0;
                                        margin: 0;
                                        padding: 0;
                                    }
                                    0% {
                                        border: none;
                                        margin: 0;
                                        width: calc(100% - 2.5rem);
                                        height: 80%;
                                        padding: 0 0.5rem;
                                        margin-left: 0.5rem;
                                    }
                                }
                            }
                            .add{
                                animation: removeAnimation 1.2s ease-in-out 0s 1 normal forwards, unbounceAdd 0.4s ease-in-out 1.2s 1 normal forwards;
                                @keyframes  removeAnimation {
                                    100% {
                                        border: solid 2px rgba(119, 119, 119, 0);
                                        border-radius: 50px;
                                        transform: rotate(0deg);
                                    }
                                    0% {
                                        border: solid 2px rgba(119, 119, 119, 0);
                                        border-radius: 50px;
                                        transform: rotate(360deg);
                                    }
                                }
                                @keyframes  unbounceAdd {
                                    100% {
                                        transform: scale(1.2);
                                        color: #777777;
                                    }
                                    85% {
                                        transform: scale(1.3);
                                        color: #777777;
                                    }
                                    70%{
                                        transform: scale(2);
                                    }
                                    50%{
                                        transform: scale(1);
                                    }
                                    25%{
                                        transform: scale(1.8);
                                    }
                                    0% {
                                        transform: scale(1);
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
                .contenedorCate{
                    position: relative;
                    width: 100% !important;
                    box-sizing: border-box !important;
                    margin-bottom: 0.5rem !important;
                    margin-right: 0px !important;
                    overflow: hidden !important;
                    overflow-x: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 1rem;
                    flex: 1 1 1px;
                    .categoria{
                        &:first-child{
                            margin-top: 1rem;
                        }
                        background-color: #009A35;
                        border-radius: 10px;
                        width: 80%;
                        margin: 0.5rem 0rem;
                        flex-grow: 0;
                        flex-shrink: 0;
                        height: auto;
                        min-height: 10%;
                        min-height: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .nombre{
                            position: relative;
                            //padding: 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: auto;
                            width: 90%;
                            padding: 0rem 0.2rem;
                            p{
                                color: #ffffff;
                                font-size: var(--small-text);
                                font-weight: 600;
                                text-align: center;
                                line-height: 1.2;
                                overflow-wrap: break-word;
                                margin: 0.4rem 0.8rem;
                                height: 100%;
                                max-width: calc(100% - (var(--handler-icon-size) + 1.4rem * 2));
                            }
                            .handler{
                                &:active {
                                    cursor: move !important; /* fallback: no `url()` support or images disabled */
                                    cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
                                    cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
                                    cursor:         grabbing !important; /* W3C standards syntax, should come least */
                                }
                                fill: #fff;
                                width: var(--handler-icon-size);
                                height: var(--handler-icon-size);
                                min-width: var(--handler-icon-size);
                                min-height: var(--handler-icon-size);
                                cursor: grab;
                            }
                            a{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .options{
                                fill: #fff;
                                width: var(--handler-icon-size);
                                height: var(--handler-icon-size);
                                min-width: var(--handler-icon-size);
                                min-height: var(--handler-icon-size);
                                cursor: pointer;
                            }
                        }
                        .grupos{
                            display: none;
                        }
                    }
                }
            }
            .despliegueCategorias{
                height: auto;
                border: solid 4px #ddd;
                border-top: none;
                border-bottom: none;
                display: flex;
                //justify-content: center;
                overflow: auto;
                overflow-y: hidden;
                box-sizing: border-box !important;
                padding: 0.5rem 0.5rem 1rem 0.5rem;
                .categoria{
                    margin: 0.5rem;
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    min-width: 80%;
                    max-width: 95%;
                    @media only screen and (min-width: $tablet-m){
                        min-width: 45%;
                        max-width: 50%;
                    }
                    @media only screen and (min-width: $laptop-l){
                        min-width: 30%;
                        max-width: 40%;
                    }
 
                    .nombre{
                        position: relative;
                        //padding: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        border-radius: 10px 10px 0px 0px;
                        background-color: #009A35;
                        padding: 0.3rem 0.5rem;
                        margin-bottom: 0.3rem;

                        @media only screen and (min-width: $tablet-s){
                            padding: 0.3rem 1rem;
                            p{
                                margin: 0 0.8rem;
                                max-width: calc(100% - (var(--handler-icon-size) + 1.6rem * 2));
                            }
                        }
                        p{
                            color: #ffffff;
                            font-size: calc(var(--small-text) * 1.1);
                            font-weight: 600;
                            line-height: 1.2;
                            text-align: center;
                            overflow-wrap: break-word;
                            margin: 0 0.7rem;
                            max-width: calc(100% - (var(--handler-icon-size) + 1.4rem * 2));
                        }
                        .handler{
                            &:active {
                                cursor: move !important; /* fallback: no `url()` support or images disabled */
                                cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
                                cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
                                cursor:         grabbing !important; /* W3C standards syntax, should come least */
                            }
                            fill: #fff;
                            width: var(--handler-icon-size);
                            height: var(--handler-icon-size);
                            min-width: var(--handler-icon-size);
                            min-height: var(--handler-icon-size);
                            cursor: grab;
                        }
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .options{
                            fill: #fff;
                            width: var(--handler-icon-size);
                            height: var(--handler-icon-size);
                            min-width: var(--handler-icon-size);
                            min-height: var(--handler-icon-size);
                            cursor: pointer;
                        }
                    }
                    .grupos{
                        position: relative;
                        border: 1px solid #e9e9e9 !important;
                        border-radius: 0px 0px 10px 10px;
                        background-color: #e4e4e4;
                        list-style-type: none;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: auto;
                        overflow-x: hidden;
                        height: 100%;
                        width: 100% !important;
                        box-sizing: border-box !important;
                        margin-bottom: 0rem !important;
                        margin-right: 0px !important;
                        overflow: hidden !important;
                        padding: 0rem;
                        flex: 1 1 1px;

                        .scroll-x{
                            display: none;
                        }

                        .grupo{
                            &:first-child{
                                border: 2px solid var(--gris-claro);
                            }
                            padding: 0.1rem 0.2rem;
                            width: 100%;
                            height: -moz-min-content;
                            height: min-content;
                            border: 2px solid var(--gris-claro);
                            border-top:none;
                            color: var(--color-grupo);
                            background-color: #fcfcfc;
                            font-size: var(--small-text);
                            font-weight: 400;
                            text-align: center;
                            overflow-wrap: break-word;
                            margin: 0rem;
                            border-radius: 3px;
                            display: grid;
                            grid-template-columns: calc(var(--handler-icon-size-grupo) + 0.25rem) 1fr;
                            align-items: center;
                            padding: 0rem 1.5rem 0rem 1rem;
                            cursor: grab;
                            &:active {
                                cursor: move !important; /* fallback: no `url()` support or images disabled */
                                cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
                                cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
                                cursor:         grabbing !important; /* W3C standards syntax, should come least */
                            }
                            .handler-grupo{
                                fill: var(--color-grupo);
                                width: var(--handler-icon-size-grupo);
                                height: var(--handler-icon-size-grupo);
                                min-width: var(--handler-icon-size-grupo);
                                min-height: var(--handler-icon-size-grupo); 
                            }
                        }
                    }
                }
            }
        }
    }
    .abajo{
        width: 100%;
        display: flex;
        .contenedorCategoriasBasura{
            width: 0%;
            background-color: #f5f5f5;
            display: flex;
            flex-direction: column;
            transition-duration: 1.2s;
            transition-timing-function: ease;
            &.mostrar{
                width: 40%;
            }
            .titulo{
                width: 100%;
                color: #fff;
                font-size: var(--large-text);
                font-weight: 600;
                text-align: center;
                background-color: #888888;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .contenidoBasura{
                padding: 0.5rem;
                border-right: #cccccc solid 2px;
                width: 100%;
                height: 100%;
                background-image: url('../img/iconos/trash-can.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-origin: content-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .categoria{
                    background-color: #009A35;
                    border-radius: 10px;
                    width: 80%;
                    margin: 0.5rem 0rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                    height: auto;
                    min-height: 10%;
                    min-height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nombre{
                        position: relative;
                        //padding: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: auto;
                        padding: 0rem 0.2rem;
                        p{
                            color: #ffffff;
                            font-size: var(--small-text);
                            font-weight: 600;
                            text-align: center;
                            line-height: 1.2;
                            overflow-wrap: break-word;
                            margin: 0.4rem 0.8rem;
                            height: 100%;
                        }
                        .handler{
                            display: none;
                        }
                        a{
                            display: none;
                        }
                    }
                    .grupos{
                        display: none;
                    }
                }
            }
        }
        .contenedorGrupos{
            width: 100%;
            display: flex;
            flex-direction: column;
            .titulo{
                width: 100%;
                color: #fff;
                font-size: var(--large-text);
                font-weight: 600;
                text-align: center;
                background-color: var(--color-titulo-categorias);
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .grupos{
                margin: 0;
                padding: 0.5rem;
                width: 100% !important;
                overflow: auto;
                overflow-x: hidden;
                list-style-type: none;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;      
                background-color: var(--gris-claro);
                flex-grow: 1;
                .grupo{
                    width: auto;
                    max-width: 30%;
                    border: 2px solid rgba(0,0,0,.125);
                    background-color: #fcfcfc;
                    color: var(--color-grupo);
                    font-size: var(--small-text);
                    font-weight: 400;
                    text-align: center;
                    overflow-wrap: break-word;
                    border-radius: 3px;
                    display: grid;
                    grid-template-columns: calc(var(--handler-icon-size-grupo) + 0.5rem) 1fr;
                    align-items: center;
                    margin: 0.5rem 0rem;
                    padding: 0.5rem;
                    cursor: grab;
                    &:active {
                        cursor: move !important; /* fallback: no `url()` support or images disabled */
                        cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
                        cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
                        cursor:         grabbing !important; /* W3C standards syntax, should come least */
                    }
                    .handler-grupo{
                        fill: var(--color-grupo);
                        width: var(--handler-icon-size-grupo);
                        height: var(--handler-icon-size-grupo);
                        min-width: var(--handler-icon-size-grupo);
                        min-height: var(--handler-icon-size-grupo);
                    }
                }
            }
        }
    }
}

.boing{
    animation: boing 1.2s ease-in-out 0s 1 normal forwards;
    @keyframes boing {
        0% {
            transform: scale(1.2);
        }
        15% {
            transform: scale(1.3);
        }
        30%{
            transform: scale(2);
        }
        50%{
            transform: scale(1);
        }
        75%{
            transform: scale(1.8);
        }
        100% {
            transform: scale(1);
        }
    }    
}

.droppablePlace{
    animation: mymove2 0.8s infinite;
    animation-timing-function: ease-in-out;
    /* Standard syntax */
    @keyframes mymove2 {
        50% {background-color: #d8d8d8;}
    }
}

.droppableGroup{
    animation: mymove 0.8s infinite, mymove2 0.8s infinite;
    animation-timing-function: ease-in-out;
    /* Standard syntax */
    @keyframes mymove {
        50% {
            border: 1px solid #e2e2e2;
        }
    }

    .grupo{
        &:first-child{
            border: 2px solid #e2e2e2 !important;
        }
        border: 2px solid #e2e2e2 !important;
        border-top: none !important;
    }
}


.selected-grupo{
    background-color: #3d3d3d !important;
    color: #fff !important;
}

.categoria-ghost{
    background-color: var(--color-titulo-categorias) !important;
}
.categoria-chosen{
    opacity: 0.7 !important;
}
.categoria-drag{
    background-color:#34ff0b !important;
} 

.categoria-ghost-despliegueCategorias{
    .nombre{
        background-color: var(--color-titulo-categorias) !important;
    }
    .grupos{
        background-color: #cfcfcf !important;
    }
}
.categoria-chosen-despliegueCategorias{
    opacity: 0.7 !important;
}
.categoria-drag-despliegueCategorias{
    .nombre{
        background-color:#34ff0b !important;
    }
} 

.categoria-ghost-grupo{
    background-color: var(--color-titulo-categorias) !important;
    color: #fff !important;
}
.categoria-chosen-grupo{
    opacity: 0.7 !important;
    color: #fff !important;
}
.categoria-drag-grupo{
    background-color:#34ff0b !important;
    color: #fff !important;
} 



