.banner {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	&.banner-home{
		width: 100%;
		.fondo{
			width: 100%;
			img{
				width: 100%;
			}
		}
		@media screen and (min-width: 700px) {
			margin-bottom: 3rem;
		}
	}
	&.banner-home-2{
		margin-top: 3rem;
		margin-bottom: 3rem;
		box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.3);
	}
	&.banner-categoria{
		position: relative;
		.cont-titulo{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			.titulo{
				color: #fff;
				margin: 0px;
				padding-left: 15%;
				@include vertical-center;
				width: 100%;
				font-size: 4.5rem;
			    text-align: center;
			    font-weight: 700;
			}
		}
	}
	.fondo{
		width: 100%;
		img{
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	.slick-dots{
		bottom: 2rem;
		li button:before {
			font-size: 1.1rem;
			color: #fff;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		li.slick-active button:before {
			color: #fff;
			opacity: 1;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
	}
}