.formaParte{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5vmin 0;
    overflow: hidden;
    .contenido{
        width: 85%;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 4vmin;
        @media only screen and (min-width: $mobile-l) {
            grid-template-columns: 70% minmax(0, 1fr);
        }
        @media only screen and (min-width: $laptop-m) {
            grid-template-columns: 60% minmax(0, 1fr);
        }
    }
    .izq{
        h3{ 
            text-transform: uppercase;
            font-size: var(--biger-text);
            font-weight: 600;
        }
        p{
            font-size: var(--medium-text);
            font-weight: 400;
            text-align: left;
            margin-bottom: 3vmin;
        }
        form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2vw;
            grid-row-gap: 1.5vh;
            input, textarea, label[for="curiculum"] {
                background-color: #EAEAEA;
                border: none;
                font-size: var(--smaller-text);
                margin: 0;
                &::placeholder{
                    color: #292929;
                }
            }
            input{
                height: 7.5vmin;;
            }
            #email, #mensaje{
                grid-column: 1 / 3;
            }
            #archivo{
                position: relative;
                display: flex;
                align-items: center;
                .textoSubido{
                    font-size: var(--smaller-text);
                    display: none;
                    margin: 0;
                    line-height: 1.1;
                    align-self: flex-end;
                    padding-left: 5%;
                }

                span{
                    width: 0%;
                    height: 0%;
                    input[type="file"]#curiculum {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        z-index: -1;
                    }
                }
                label[for="curiculum"] {
                    display: flex;
                    position: relative;
                    color: #fff;
                    background-color: #009b37;
                    display: inline-block;
                    transition: all .5s;
                    cursor: pointer;
                    text-align: center;
                    width: 50%;
                    height: 100%;
                    line-height: 3.5;
                }
            }

            #enviar{
                background-color:  #009b37;
                color: #fff;
                width: 40%;
                min-width: 150px;
            }
        }
    }
    .der{
        img{
            width: 100%;
            transform: rotate(-48deg) scale(1.05);
            position: relative;
            top: -6.5rem;
            right: -35%;
            -webkit-filter: drop-shadow(-2px 2px 5px #222 );
            filter: drop-shadow(-2px 2px 5px #222);
        }
        @media only screen and (min-width: $mobile-l) {
            min-height: 60vh;
            grid-row: auto;
        }
    }
}