.carrito{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vmin 0;
    overflow: hidden;

    .descargar{
        background-color: #009b37;
        color: #fff;
        padding: 0.5rem;
        margin-top: 2rem;
    }
    .titulo{
        width: 90%;
        background-color: #f5f5f5;
        padding: 1rem;
        border-radius: 10px;
        h3{ 
            text-transform: uppercase;
            font-size: var(--huge-text);
            font-weight: 600;
            text-align: center;
            margin: 0;
        }
        p{
            text-transform: uppercase;
            font-size: var(--bigest-text);
            font-weight: 400;
            text-align: center;
            margin-bottom: 0;
        }
        @media only screen and (min-width: $tablet-l){
            h3, p{
                text-align: left;
            }
            padding: 1rem 2rem;
        }
    }
    .contenido{
        margin-top: 1rem;
        align-self: center;
        @media only screen and (min-width: $tablet-l){
            align-self: flex-end; 
        }
        width: 90%;
        display: flex;
        flex-direction: column;
        .subitulo{
            h4{
                text-transform: uppercase;
                font-size: var(--larger-text);
                font-weight: 600;
                text-align: left;
            }
        }
        .grid{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            @media only screen and (min-width: $tablet-l){
                grid-template-columns: minmax(0, 2fr) minmax(0, 0.5fr);
            }
            grid-column-gap: 2%;
            //min-height: 75vh;
            .izq{
                :first-child{
                    .contenido-producto{
                        .cancelar{
                            .header{
                                display: block !important;
                            }
                        }
                    }
                }
                .header{
                    text-transform: uppercase;
                    font-size: var(--small-text);
                    font-weight: 600;
                    text-align: left;
                    margin: 0;
                    padding: 0.5rem;
                    color: #000;
                }
                .producto{
                    width: 100%;
                    border-bottom: 1px solid #aaaaaa;
                    background-color: #f8f8f8c0;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    .contenido-producto{
                        padding-bottom: 0.5rem;
                        display: grid;
                        grid-template-columns: minmax(0, 1.6fr) minmax(0, 1fr) minmax(0, 0.8fr);
                        width: 95%;
                        @media only screen and (min-width: $tablet-s){
                            grid-template-columns: minmax(0, 1.2fr) minmax(0, .8fr) minmax(0, 1fr);
                        }
                        .articulo, .cantidad, .cancelar{
                            display: flex;
                            flex-direction: column;
                            .body{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        .articulo{
                            .body{
                                .despliegue{
                                    @media only screen and (min-width: $tablet-l){
                                        padding: 1rem;
                                    }
                                    padding-top: none;
                                    display: grid;
                                    grid-template-columns: minmax(0, 1fr) minmax(0, 1.4fr);
                                    grid-column-gap: 8%;
                                    .imagen{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        img{
                                            box-shadow: -1px 1px 4px #aaaaaa;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: contain;
                                            background-origin: content-box;
                                        }
                                    }
                                    .detalles{
                                        .nombre{
                                            //text-transform: uppercase;
                                            font-size: var(--small-text);
                                            font-style: oblique;
                                            font-weight: 600;
                                            text-align: left;
                                            margin-bottom: 0.5rem;
                                        }
                                        .desc{
                                            font-size: var(--smaller-text);
                                            font-weight: 200;
                                            text-align: left;
                                            color: #707070;
                                            margin: 0;
                                            word-wrap: break-word;
                                        }
                                    }
                                }
                            }
                        }
                        .cantidad{
                            .header{
                                text-align: center;
                            }
                            .body{
                                .sumadorProductos{
                                    display: flex;
                                    .mas, .menos{
                                        -webkit-transition: all 0.05s ease;
                                        transition: all 0.05s ease;
                                        &:active {
                                            transform: scale(2);
                                            -webkit-transition: all 0.05s ease;
                                            transition: all 0.05s ease;
                                        }
                                    }
                                    button{
                                        height: 2.5rem;
                                        width: 2.5rem;
                                        color: $rosa-claro;
                                        font-size: var(--large-text);
                                        font-weight: 400;
                                        
                                    }
                                    .cantidad{
                                        border: $rosa-claro solid 2px;
                                        min-height: 2.5rem;
                                        max-width: 2rem;
                                        width: auto;
                                        color: $rosa-claro;
                                        font-size: var(--large-text);
                                        font-weight: 400;
                                        margin: 0;
                                        padding: 0;
                                        text-align: center;
                                        @media only screen and (min-width: $tablet-s){
                                            max-width: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                        .cancelar{
                            .header{
                                display: none;
                                text-align: center;
                                img{
                                    width: 20px;
                                    height: 20px;
                                    transform: rotate(180deg);
                                    @media only screen and (min-width: $tablet-l){
                                        margin-right: 0.5rem;
                                    }
                                }
                            }
                            .body{
                                justify-content: flex-start;
                            }
                            .btn-cancelar{
                                width: 20px;
                                height: 20px;
                                position: relative;
                                left: 10px;
                            }
                        }
                    }
                }
            }
            .der{
                display: none;
                @media only screen and (min-width: $tablet-l){
                    display: block;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}

#form-carrito{

    h2{
        margin-bottom: 1.5rem;
    }
    label{
        font-size: 1.11rem;
        margin-right: 1rem;
    }
    .enviar{
        background-color: #009b37;
        color: #fff;
        padding: 0.5rem;
        margin-top: 2rem;
    }

    $color: #3b91ce;

    .toggleButton {
        cursor: pointer;
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        transition: transform .14s ease;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        &:active {
            transform: rotateX(30deg);
        }
        input {
            display: none;
            & + div {
                border: 3px solid rgba($color, .2);
                border-radius: 50%;
                position: relative;
                width: 44px;
                height: 44px;
                svg {
                    fill: none;
                    stroke-width: 3.6;
                    stroke: $color;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    width: 44px;
                    height: 44px;
                    display: block;
                    position: absolute;
                    left: -3px;
                    top: -3px;
                    right: -3px;
                    bottom: -3px;
                    z-index: 1;
                    stroke-dashoffset: 162.6 - 38;
                    stroke-dasharray: 0 162.6 133 (162.6 - 133);
                    transition: all .4s ease 0s;
                }
                &:before,
                &:after {
                    content: '';
                    width: 3px;
                    height: 16px;
                    background: $color;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 5px;
                }
                &:before {
                    opacity: 0;
                    transform: scale(.3) translate(-50%, -50%) rotate(45deg);
                    animation: bounceInBefore .3s linear forwards .3s;
                }
                &:after {
                    opacity: 0;
                    transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
                    animation: bounceInAfter .3s linear forwards .3s;
                }
            }
            &:checked + div {
                svg {
                    stroke-dashoffset: 162.6;
                    stroke-dasharray: 0 162.6 28 (162.6 - 28);
                    transition: all .4s ease .2s;
                }
                &:before {
                    opacity: 0;
                    transform: scale(.3) translate(-50%, -50%) rotate(45deg);
                    animation: bounceInBeforeDont .3s linear forwards 0s;
                }
                &:after {
                    opacity: 0;
                    transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
                    animation: bounceInAfterDont .3s linear forwards 0s;
                }
            }
        }
    }

    @keyframes bounceInBefore {
        0% {
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(45deg);
        }
        50%{
            opacity: 0.9;
            transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
        }
        80%{
            opacity: 1;
            transform: scale(.89) translate(-50%, -50%) rotate(45deg);
        }
        100%{
            opacity: 1;
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
        }
    }

    @keyframes bounceInAfter {
        0% {
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
        }
        50%{
            opacity: 0.9;
            transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
        }
        80%{
            opacity: 1;
            transform: scale(.89) translate(-50%, -50%) rotate(-45deg);
        }
        100%{
            opacity: 1;
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
        }
    }

    @keyframes bounceInBeforeDont {
        0% {
            opacity: 1;
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
        }
        100%{
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(45deg);
        }
    }

    @keyframes bounceInAfterDont {
        0% {
            opacity: 1;
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
        }
        100%{
            opacity: 0;
            transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
        }
    }

    html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }

    * {
        box-sizing: inherit;
        &:before,
        &:after {
            box-sizing: inherit;
        }
    }

    // Center & dribbble
    body {
        min-height: 100vh;
        font-family: Roboto, Arial;
        color: #ADAFB6;
        background: #5628EE;
        display: flex;
        justify-content: center;
        align-items: center;
        .dribbble {
            position: fixed;
            display: block;
            right: 24px;
            bottom: 24px;
            img {
                display: block;
                width: 76px;
            }
        }
    }
}