.categoria-productos{
	.cont-titulo{
		.titulo{
			color: #292929;
			text-transform: uppercase;
			font-weight: 700;
			margin-top: 1.75rem;
			margin-bottom: 0.75rem;
		}
	}
	.filtros{
		.titulo{
			color: #292929;
		}
		.cont-filtros{
			width: max-content;
			position: relative;
			display: block;
			background-color: #efefef;
			margin-bottom: 0.5rem;
			.items-filtros{
				padding: 0.25rem 0.5rem;
				select{
					width: 115px;
					font-size: 0.95rem;
					border: none;
					background-color: transparent;
					float: left;
					margin: 0px;
				}
				.check-todos{
					float: left;
					padding-left: 0.6rem;
    				padding-top: 0.4rem;
    				[type="checkbox"] {
    					margin-left: 0.5rem;
    					margin-bottom: 0px;
    				}
				}
			}
			&.small{
				width: max-content;
				padding: 0rem 1rem;
			}
		}
	}
	.filtro-producto{
		padding-top: 2rem;
		margin-left: -1rem;
		margin-right: -1rem;
		.info-producto{
			background-color: #f5f5f5;
			padding-bottom: 0.75rem;
			border-radius: 0px;
			box-shadow: none;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			.texto{
				padding: 1rem 1.2rem 1.5rem;
			}
			.img{
				padding: 0rem;
				.info{
					.img-info{
						top: 0rem;
    					left: 10%;
					}
				}
			}
			.btn{
				margin-top: 0px;
				padding: 0rem 1rem;
				a{
					font-weight: 400;
					margin-bottom: 0px;
				}
			}
			&:hover, &:focus{
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				box-shadow: 0px 0px 13px rgba(25,3,3,0.3);
			}
		}
	}
}
