section{
	position: relative;
	width: 100%;
}

.categorias{
	&.categorias-home{
		.cont-items{
			overflow: hidden;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			height: auto;
			&.active {
				display: inline-block;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
		}
	}
	.list-categorias{
		width: 100%;
		padding: 0 8vw;
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		grid-column-gap: 8vw;
		grid-row-gap: 4vh;
		.categoria{
			height: auto;
		}
		@media only screen and (min-width: $mobile-m) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			padding: 0 4vw;
			grid-column-gap: 4vw;
		}
		@media only screen and (min-width: $tablet-m) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			grid-column-gap: 4vw;
		}
		@media only screen and (min-width: $laptop-s) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
			grid-column-gap: 4vw;
		}
		a {
			width: 100%;
			//min-height: 350px;
			display: block;
			position: relative;
			.img{
				position: relative;
				display: block;
				width: 100%;
				> img{
					width: 100%;
					display: block;
					background-color: #f8f8f8;
					border-radius: 50%;
				}
				.center{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					img{
						@include absolute-center;
						width: 75%;
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
					}
				}
			}
			.texto{
				padding: 0rem 1.5vw;
				float: left;
				width: 100%;
				.titulo{
					margin-top: 0.5rem;
					color: #000000;
					font-family: 'Conv_Proxima-Nova-Sbold';
					font-size: var(--larger-text);				
					line-height: 1.1;
					text-align: center;
				}
			}
			&:hover{
				.img{
					> .center{
						> img{
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
							width: 130%;
							zoom: 1.5;
						}
					}
				}
			}
		}
	}
}

[class*="large-up-"] {
	&.text-center {
		font-size: 0;
		> .column-block {
			float: none;
			display: inline-block;
		}
	}
}