.contacto{
	.titulo-contacto{
		padding: 1.5rem 0rem;
		.titulo{
			color: #009b37;
			font-family: 'Conv_Proxima-Nova-Black';
			text-transform: uppercase;
			text-align: center;
			line-height: 1.2;
			span{
				color: #232323;
				font-family: 'Conv_Proxima-Nova-Sbold';
				display: block;
			}
		}
	}
	.cont-contacto{
		padding: 1.5rem 0rem;
		.titulo-contacto{
			color: #232323;
			text-transform: uppercase;
			padding: 1rem 0;
			img{
				width: 25px;
				position: relative;
				margin-left: 0.5rem;
				top: -3px;
			}
		}
		.texto-contacto{
			padding: 0 !important;
			display: grid;
			grid-template-columns: repeat(2 , minmax(0 , 1fr));
			grid-column-gap: 5vw;
			grid-row-gap: 2vh;
			@media only screen and (min-width: $tablet-m) {
				grid-template-columns: repeat(3 , minmax(0 , 1fr));
			}
			.direccion-item{
				*{
					word-break: break-all;
				}
			}
			.titulo-texto{
				color: #232323;
				font-weight: 700;
				text-transform: uppercase;
			}
			a{
				color: #232323;
				font-size: 0.75rem;
				display: block;
				margin-bottom: 0.2rem;
				&.telefono{
					font-weight: 700;
					img{
						width: 18px;
						position: relative;
						top: -8px;
						margin-right: 0.2rem;
					}
				}
			}
			p{
				color: #232323;
				font-size: 0.65rem;
    			margin-bottom: 0.2rem;
    			font-weight: 700;
				&.direccion{
					text-transform: uppercase;
					font-weight: 400;
				}
			}
		}
		.form{
			.formulario{
				padding: 0 !important;
				margin-bottom: 1rem;
				@media only screen and (min-width: $tablet-m) {
					margin: 0;
				}
			}
			input, textarea{
				background-color: #ececec;
				border-color: #ececec;
				box-shadow: none;
			}
			.button{
				color: #fff !important;
				padding: 0.5rem 1.5rem;
				font-weight: 700;
			}
		}
		.mapa{
			#mapa{
				width: 100%;
				height: 650px;
				display: block;
			}
		}
	}
}