footer.footer-site{
	border-top: 4px solid #d1d1d1;
	padding: 2rem 4vw; 
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-row-gap: 2vh;
	grid-column-gap: 2vw;
	@media only screen and (min-width: $mobile-l){
		grid-template-columns: minmax(0, 3fr) minmax(0, 1.5fr);
		.copy{
			grid-column: 1 / 3;
		}
	}
	.links{
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		grid-row-gap: 2vh;
		grid-column-gap: 2vw;
		@media only screen and (min-width: $mobile-s){
			grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
		}
		@media only screen and (min-width: $mobile-l){
			grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
		}
	}
	.titulo-footer{
		color: #292929;
		font-weight: 700;
		text-transform: uppercase;
	}
	.copy{
		position: relative;
		p{
			color: #292929;
			font-weight: 700;
			font-size: 0.7rem;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			a {
				&:hover, &:focus {
					-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
					color: #02511a;
				}
			}
		}
		.gant-soluciones-empresariales{
			position: relative;
			img{
				width: 30px;
			    top: -4px;
			    position: relative;
			}
		}
	}
	.menu-categorias{
		list-style: none;
		padding: 0rem;
		margin: 0rem;
		li{
			margin: 0rem;
			padding: 0rem;
			a{
				padding: 0.25rem;
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				font-size: 0.85rem;
				font-weight: 700;
				color: #009b37;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				&:hover, &:focus{
					-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
					color: #3c3d3d;
				}
			}
		}
	}
	.info-contacto{
		padding: 0rem;
		display: grid;
		grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
		grid-row-gap: 2vh;
		grid-column-gap: 2vw;
		@media only screen and (min-width: $mobile-l){
			grid-template-columns: minmax(0, 1fr);
		}
		.texto{
			padding: 0rem;
		}
		.img-logo{
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				max-width: 65%;
			}
		}
		p{
			color: #292929;
			font-weight: 700;
			text-align: center;
			font-size: 0.8rem;
			margin-bottom: 0rem;
			line-height: 1.2;
			&.horario{
				font-size: 0.65rem;
			}
		}
		a {
			color: #292929;
			font-weight: 700;
			text-align: center;
			font-size: 0.85rem;
			display: block;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			&:hover, &:focus {
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				color: #02511a;
			}
		}
		.phone{
			color: #292929;
			font-weight: 700;
			text-align: center;
			font-size: 0.85rem;
		}
		.contacto{
			li{
				a{
					span{
						width: 25px;
					    height: 25px;
					    border-radius: 50%;
					    background-color: #009b37;
					    color: #fff;
					    position: relative;
					    display: block;
					    line-height: 25px;
					    font-size: 0.75rem;
					    -webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
					}
					&:hover, &:focus{
						span{
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
							background-color: #ee0507;
						}
					}
				}
			}
		}
	}
}