.mm-menu{
	z-index: 110 !important;
	@media screen and (min-width: $tablet-l) {
		display: none !important;
	}
}
.header-site{
	background-color: #fff;
	.header-sticky{
		background-color: #fff;
		padding: 0;
		box-shadow: 0px 2px 9px rgba(5,0,6,0.35);
		&.is-stuck{
			.fila-uno-header{
				height: 70px;
			}	
		}
		.fila-uno-header{
			display: grid;
			height: 80px;
			padding: 0 0.5rem;
			grid-template-rows: minmax(0, 1fr);
			grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
			.ubicacion, .search-input, .redes, .menu-header, .atencion{
				display: none;
			}
			.logo{
				display: flex;
				justify-content: center;
				align-items: center;
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				img{
					margin: 0 ;
					width: auto ;
					width: 60%;
					@media screen and (min-width: 500px) {
						width: 50%;
					}
					@media screen and (min-width: 630px) {
						width: 40%;
					}
					@media screen and (min-width: 730px) {
						width: 32%;
					}
					@media only screen and (min-width: 930px) {
						padding: 0;
					}
				}
			}
			.phone, .burger{
				display: flex;
				justify-content: center;
				align-items: center;
				@media only screen and (min-width: 930px) {
					display: none;
				}
			}
			.burger{
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				.mburger{
					--mb-bar-height: 2px;
				}
			}
			.phone{
				.circle{
					background-color: #C91A15;
					border-radius: 50%;
					width: 2rem;
					height: 2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					i{
						color: #fff;
						font-size: 1rem;
						padding: 0.3rem;
					}
				}
			}
			.cart{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				grid-area: 1 / 4 / 2 / 5;
				.cotiza{
					display: none;
				}
				.icon{
					width: 35px;
					position: relative;
					.cantidad{
						background-color: #C91A15;
						position: absolute;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						line-height: 20px;
						text-align: center;
						font-size: 0.6rem;
						font-weight: 700;
						color: #fff;
						top: -8px;
						right: -15px;
						display: none;
						@media screen and (min-width: 450px) {
							display: block;
						}
					}
				}
			}
			@media screen and (min-width: 450px) {
				padding: 0 1rem;
				grid-template-rows: minmax(0, 1fr);
				grid-template-columns: repeat(6 , minmax(0, 1fr));
				.logo{
					grid-area: 1 / 2 / 2 / 5;
				}	
				.cart{
					justify-content: center;
					grid-area: 1 / 6 / 2 / 7;
					.icon{
						width: 42px;
					}
				}
				.phone{
					justify-content: flex-end;
					grid-area: 1 / 5 / 2 / 6;
					.circle{
						width: 2.2rem;
						height: 2.2rem;
						i{
							font-size: 1.1rem;
							padding: 0.3rem;
						}
					}
				}
				.burger{
					.mburger{
						--mb-bar-height: 3px;
					}
				}	
			}
		}	
		.header-footer{
			display: none;
			@media only screen and (min-width: 930px) {
				display: block;
			}
		}
		@media only screen and (min-width: 930px) {
			padding: 0.75rem 0rem 0rem;
			width: 100%;
			height: auto;
			background-color: #fff;
			box-shadow: none;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			.fila-uno-header{
				height: auto !important;
				width: 100%;
				grid-template-rows: minmax(0, 1.1fr), minmax(0, 1fr);
				grid-template-columns: repeat(8, minmax(0, 1fr));
				padding: 0 2vw 0.75rem 2vw;
				box-sizing: border-box;
				.logo{
					grid-area: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.5rem;
					img{
						width: auto;
						height: 100%;
					}
				}
				.ubicacion{
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 0.3rem;
					.icon{
						float: left;
						position: relative;
						img{
							width: 22px;
							height: 22px;
							float: left;
							margin-right: 0.4rem;
							position: relative;
							top: 2px;
						}
					}
					.texto{
						float: left;
						position: relative;
						p{
							margin-bottom: 0px;
							line-height: 1;
							font-size: 0.85rem;
							color: #292929;
							font-weight: 700;
						}
					}
				}
				.search-input{
					grid-area: 1 / 3 / 2 / 7;
					display: flex;
					justify-content: center;
					align-items: center;
					#form-busqueda-global{
						width: 100%;
						.input-group{
							margin-bottom: 0rem;
						}
						input{
							color: #292929;
							border-color: #009b37;
							border-right: none;
							border-width: 2px;
							border-radius: 20px 0px 0px 20px;
							height: 2.3rem;
						}
						button{
							border-color: #009b37;
							color: #009b37;
							background-color: #fff;
							border-left: none;
							border-width: 2px;
							border-radius: 0px 20px 20px 0px;
						}
					}
				}
				.redes{
					grid-area: 1 / 7 / 2 / 8;
					display: flex;
					justify-content: center;
					align-items: center;
					li{
						a{
							font-size: 1.6rem;
							padding: 0.4rem 0.7rem;
							&.facebook{
								color: #475993;
							}
							&.youtube{
								color: #f61c0d;
							}
						}
					}
				}
				.menu-header{
					grid-area: 2 / 1 / 3 / 7;
					z-index: 100;
					display: block;
					.first-list{
						position:relative;
						height: auto;
						display: flex;
						width: 100%;
						height: 100%;
						margin: 0;
						li {
							width:100%;
							list-style-type: none;
						}
						.first-list-item {
							position: relative;
							display: flex;
							justify-content: center;
							align-items: center;
							&.nav-productos{
								.second-list{
									min-width: 18rem;
									min-height: 40vh;
								}
							}
							>a{
								display: flex !important;
								justify-content: center;
								align-items: center;
								color: #292929;
								text-transform: uppercase;
								font-size: calc(var(--smallest-text) * 1.1);
								font-weight: 700;
								width:100%;
								height:100%;
								text-align: center;
							}
							.downArrow{
								position: relative;
								width:   calc(var(--smallest-text) * 1.5);
								height: calc(var(--smallest-text) * 1.5);
								transform:rotateZ(180deg);
								transition: all 0.5s ease;
							}
							&:hover{
								.downArrow{
									fill: #009b37;
									transition: all 0.5s ease;
									animation: rotateUp 0.3s linear 0s 1 normal forwards;
									@keyframes rotateUp{
										0%{
											transform:rotateZ(180deg);
										}
										100%{
											transform:rotateZ(0deg);
										}
									}
								}
							}
							.second-list {
								width: inherit;
								box-shadow: -9px 9px 15px -9px rgba(0,0,0,0.69);
								li:hover {
									background-color: #eee;
									.last-list {
										display:block;
									}
									.rigtArrow{
										fill: #009b37;
										transition: all 0.5s ease;
										animation: rotateRight 0.3s linear 0s 1 normal forwards, hereRight 1.5s linear 0.3s infinite;
										@keyframes rotateRight{
											0%{
												transform:rotateZ(180deg);
											}
											100%{
												transform:rotateZ(0deg);
												transform: translateX(2px);
											}
										}
										@keyframes hereRight{
											0%{
												transform:rotateZ(0deg);
												transform: translateX(2px);
											}
											25%{
												transform:rotateZ(0deg);
												transform: translateX(-2px);
											}
											50%{
												transform:rotateZ(0deg);
												transform: translateX(2px);
											}
											75%{
												transform:rotateZ(0deg);
												transform: translateX(-2px);
											}
											100%{
												transform:rotateZ(0deg);
												transform: translateX(2px);
											}
										}
									}
									>a{
										color: #009b37;
										transform: translateX(10px);
									}
								}
								li {
									color:#fff;
									display: flex;
									align-items: center;
									padding:0.6rem 0.6rem 0 0.6rem;
									margin-top: 0.08rem;
									a{
										color:#000;
										text-decoration:none;
										width:100%;
										display:block;
										height:100%;
										font-size: calc(var(--smallest-text)*1.2);
										padding-right: 0.6rem;
									}
									.rigtArrow{
										position: relative;
										width:  calc(var(--smallest-text)*1.4);
										height: calc(var(--smallest-text)*1.4);
										transition: all 0.5s ease;
										transform:rotateZ(180deg);
									}
									.last-list {
										margin: 0;
										display:none;
										position:absolute;
										top:0;
										left: 100%;
										width: 25vw;
										min-width: 18rem;
										background-color:#eee;
										height: auto;
										min-height: 100%;
										padding-bottom: 1rem;
										.flotante{
											position: absolute;
											width: 90%;
											top: 10%;
											left: 50%;
											-webkit-filter: drop-shadow(-1px 1px 5px #666 );
											filter: drop-shadow(-1px 1px 5px #666);
											animation: heartbeat 5s infinite;
										}
										@keyframes heartbeat{
											0%{
												transform: scale( 0.95 );
											}
											25%{
												transform: scale( 1.05 );
											}
											50%{
												transform: scale( 0.95 );
											}
											75%{
												transform: scale( 1.05 );
											}
											100%{
												transform: scale( 0.95 );
											}
										}
										li{
											width: 50%;
											&:hover{
												a{
													transform: translateX(10px);
													text-shadow: #919191;
													font-weight: 600;
													color: #009b37;
												}
											}
											a{
												z-index: 100;
												font-size: calc(var(--smallest-text) * 1.2);
											}									
										}
										.seccion{
											padding:0.6rem 0.6rem 0 0.6rem;
											color:#000;
											text-decoration:none;
											width:50%;
											font-size: var(--smaller-text);
											font-weight: 600;
											display: flex;
											flex-direction: column;
											&::after{
												content: "";
												width: 100%;
												background-color: #000;
												height: 2px;
											}	
										}								
									}
								}	
								>li:last-child{
									padding-bottom: 1rem;
								}
							}
							> ul {
								display:none;
								position:absolute;
								left: 0;
								top: 100%;
								width: 175%;
								width: max-content;
								width: -moz-max-content;
								z-index: 100;
								background-color:#fff;
								margin: 0;
							}
							&:hover .second-list {
								display:block;
							}
						}
					}
				}		
				.atencion{
					grid-area: 2 / 7 / 3/ 8;
					display: flex;
					justify-content: center;
					align-items: center;
					.icon{
						float: left;
						position: relative;
						img{
							width: 28px;
							height: 28px;
							float: left;
							margin-right: 0.4rem;
							position: relative;
							top: 2px;
						}
					}
					.texto{
						float: left;
						position: relative;
						.telefono{
							width: 100%;
							height: 100%;
							display: block;
							color: #292929;
							text-align: right;
							line-height: 1rem;
							font-size: 0.75rem;
							font-weight: 700;
							span {
								color: #009b37;
								display: block;
								font-weight: 400;
							}
						}
					}
				}	
				.cart{
					grid-area: 1 / 8 / 3 / 9;
					display: flex;
					justify-content: center;
					align-items: center;
					.icon{
						width: 60px;
						position: relative;
						.cantidad{
							background-color: #d63f3b;
							position: absolute;
							width: 25px;
							height: 25px;
							border-radius: 50%;
							line-height: 25px;
							text-align: center;
							font-size: 0.7rem;
							font-weight: 700;
							color: #fff;
							top: -8px;
							right: -15px;
						}
					}
					.cotiza{
						display: none;
						margin-left: 1rem;
						color: #555;
						text-transform: uppercase;
						font-size: 0.8rem;
					}
				}
			}
			.header-footer{
				width: 100%;
				max-height: 10vh;
				.marquee {
					margin: 0 auto;
					overflow: hidden;
					white-space: nowrap;
					box-sizing: border-box;
					-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
					.camioncito{
						width: 100%;
						height: 100%;
						position: relative;
						display: flex !important;
						justify-content: center !important;
						align-items: center !important;
						.gif, .statica{
							height:	100% !important;
						}
					}
					.statica{
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
					}
					&:hover {
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
						.statica{
							opacity: 1;
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}
						.gif{
							opacity: 0;
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}
					}
				}
			}
			&.is-stuck{
				padding-top: 0rem;
				box-shadow: 0px 2px 9px rgba(5,0,6,0.35);
				.fila-uno-header{
					padding-bottom: 0.8rem;
					.logo{
						img {
							width: 100px;
							margin: 0.2rem auto 0rem;
							display: block;
						}
					}
					.ubicacion{
						display: none;
					}
					.search-input{
						grid-area: 1 / 2 / 2 / 5;
					}
					.cart{
						grid-area: 1 / 5 / 2 / 6;
						padding-left: 1rem;
						.icon{
							width: 42px;
							.cantidad{
								width: 20px;
								height: 20px;
								line-height: 20px;
								font-size: 0.6rem;
								top: -8px;
								right: -15px;
							}
						}
						.cotiza{
							display: block;
						}
					}	
					.atencion{
						grid-area: 1 / 6 / 2 / 8;
						.icon{
							display: none;
						}
						.telefono{
							display: flex;
							font-size: 1rem;
							span{
								margin-right: 1rem;
							}
						}
					}		
					.redes{
						grid-area: 1 / 8 / 2 / 9;
					}
				}
				.header-footer{
					-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
					height: 0px;
					.marquee{
						opacity: 0.9;
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
						&:hover, &:focus{
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
#menu{
	display: none;
}
.mm-menu{
	--mm-iconbar-size : 60px;
	--mm-color-text-dimmed: #009b37;
	--mm-color-button: #009b37;
	--mm-color-background: #fff;
	.mm-menu_fullscreen.mm-menu_position-bottom{
		border: none;
	}
	.mm-navbar{
		border: none;
	}
	.mm-iconbar {
		border-right-width: 0px !important;
	}
	.mm-listview{
		.img-cat{
			border-bottom: none;
			&::after {
				border-bottom-width: 0px;
			}
		}
	}
	.mm-btn_close{
		--mm-color-button: #C91A15;
	}
	.mm-btn_close:after, .mm-btn_close:before{
		width: 10px;
		height: 10px;
	}
	
	.mm-btn_close:before {
		right: 10px;
	}
	.icono{
		font-size: 1.8rem;
		&.facebook{
			color: #475993;
		}
		&.youtube{
			color: #f61c0d;
		}
	}
	.cart{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		a{
			width: 100%;
			padding: 0.4rem;
		}
		.icon{
			width: 100%;
			position: relative;
		}
	}
	.img-cat{
		display: block;
		min-height: 70vw;
		padding: 0.5rem 0;
		.flotante{
			width: 55%;
			-webkit-filter: drop-shadow(-1px 1px 5px #666 );
			filter: drop-shadow(-1px 1px 5px #666);
			animation: heartbeat 5s infinite;
			display: block;
    		margin: 0 auto;
		}
		@keyframes heartbeat{
			0%{
				transform: scale( 0.95 );
			}
			25%{
				transform: scale( 1.05 );
			}
			50%{
				transform: scale( 0.95 );
			}
			75%{
				transform: scale( 1.05 );
			}
			100%{
				transform: scale( 0.95 );
			}
		}
	}
}
