.lista-videos{
	.slick-prev, .slick-next{
		width: 32px;
		height: 32px;
		top: 45%;
	}
	.slick-prev{
		left: -30px;
	}
	.slick-next{
		right: -30px;
	}
	.cont-videos{
		padding: 1rem;
		a{
			padding: 1.25rem;
			box-shadow: 0px 0px 13px rgba(25, 3, 3, 0.3);
			border-radius: 18px;
			background-color: #fff;
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			overflow: hidden;
			.img{
				position: relative;
				img{
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					width: 100%;
				}
				.hover{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					background-color: rgba(0, 0, 0, 0.41);
					opacity: 0;
					-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
					i {
						font-size: 3rem;
						color: #fff;
						@include absolute-center;
					}
				}
			}
			.texto{
				padding-top: 1rem;
				p{
					margin-bottom: 0rem;
					color: #000000;
					font-size: 0.85rem;
					img{
						width: 20px;
						position: relative;
						margin-right: 0.5rem;
						float: left;
						top: -3px;
					}
				}
			}
			&:hover, &:focus{
				.img{
					.hover{
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;
						opacity: 1;
					}
				}
			}
		}
	}
}

.quienes-somos-home{
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: grid;
    grid-template-columns: minmax(0, 1fr);
	grid-column-gap: 2vw;
	grid-row-gap: 4vh;
	align-items: center;
	@media only screen and (min-width: $tablet-s){
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.texto{
		.titulo{
			font-family: 'Conv_Proxima-Nova-Black';
			color: #009b37;
			text-align: center;
			text-transform: uppercase;
			@media only screen and (min-width: $laptop-s){
				text-align: left;
			}
		}
		p{
			color: #000;
			font-weight: 400;
			@media only screen and (min-width: $laptop-s){
				padding-right: 10rem;
			}
		}
	}
	.img{
		// display: flex;
		// justify-content: center;
		// align-items: center;
		position: relative;
		img{
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			width: 100%;
		}
	}	
}

.lista-empresas{
	padding: 1.5rem 0rem;
	.slick-prev, .slick-next{
		width: 32px;
		height: 32px;
		top: 40%;
	}
	.cont-empresas{
		outline: none;
		.img{
			position: relative;
			img{
				background-repeat: no-repeat;
				background-position: center;
				background-size: 70%;
				width: 100%;
			}
		}
	}
}

.formas-pago{
	padding: 1.5rem 0rem 0rem !important;
	.column-block{
		margin-bottom: 0rem;
	}
	.lista-items{
		background-color: #e6e6e6;
		padding: 1.5rem 2.25rem;
		.img{
			position: relative;
		    width: 75px;
		    display: block;
		    margin: 0.35rem auto;
			img{
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 100%;
			}
		}
		.texto{
			p{
				color: #292929;
				font-size: 0.75rem;
				font-weight: 700;
				text-align: center;
				margin-bottom: 0rem;
			}
		}
	}
	.titulo-pago{
		color: #292929;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.45rem;
	}
	.pago-tienda, .pago-credito{
		padding: 0;
	}
	.pago-tienda{
		margin-bottom: 0.5rem;
	}
	
}

.img-banner-principal{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	@media screen and (min-width: 1920px) {
		width: 100%;
	}
}

#ventana_info{
	width: 31.25rem !important;
	@media screen and (min-width: 2500px) {
		width: 45.25rem !important;
	}
}