.lista-productos{
	margin-bottom: 2rem;
	.slick-prev, .slick-next{
		width: 32px;
		height: 32px;
		top: 45%;
	}
	.slick-prev{
		left: -30px;
	}
	.slick-next{
		right: -30px;
	}
	.slick-list{
		padding-top: 1.45rem;
	}
	.cont-productos{
		padding: 1rem 1rem;
		position: relative;
		width: 100%;
		height: 100%;
		display: block;
		outline: none;
		.info-producto{
			box-shadow: 0px 0px 13px rgba(25, 3, 3, 0.3);
			border-radius: 18px;
			background-color: #fff;
			.descuento{
				.img{
					width: 70px;
				    height: auto;
				    position: absolute;
					top: 4px;
					left: 4px;
				    padding: 0px;
				    z-index: 1;
					img{
						width: 100%;
					    height: 75px;
					    display: block;
					    float: left;
					    position: relative;
					    -webkit-filter: drop-shadow(1px 3px 5px rgba(5, 0, 6, 0.45));
                		filter: drop-shadow(1px 3px 5px rgba(5, 0, 6, 0.45));
					}
				}
			}
			.corona{
				.img{
					/*width: 100px;
					height: auto;
					position: absolute;
					top: -19px;
					right: -32px;
					z-index: 1;
					padding: 0px;*/
					width: 80px;
				    height: auto;
				    position: absolute;
				    top: -17px;
				    right: -13px;
				    z-index: 1;
				    padding: 0px;
					img{
						width: 100%;
					    height: 60px;
					    display: block;
					    float: left;
					    position: relative;
					    -webkit-filter: drop-shadow(0px 1px 5px rgba(5,0,6,0.75));
                		filter: drop-shadow(0px 1px 5px rgba(5,0,6,0.75));
					}
				}
			}
			.img{
				position: relative;
				padding: 1.2rem 1rem;
				img{
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					width: 100%;
				}
				.info{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					.img-info{
						width: 20%;
						position: absolute;
						top: 1.2rem;
						left: 1.55rem;
    					z-index: 2;
					}
				}
			}
			.texto{
				padding: 1rem 1.2rem 2rem;
				.titulo{
					//text-transform: uppercase;
					color: #292929;
					font-size: 1.2rem;
					//font-style: oblique;
					font-weight: 700;
					line-height: 1;
				}
				p{
					color: #545454;
					font-size: 0.75rem;
					font-weight: bold;
					margin-bottom: 0.2rem;
					line-height: 1.2;
					&.precio{
						color: #000;
						font-size: 1.15rem;
						font-weight: 700;
					}
				}
				span{
					color: #000000;
					float: left;
				    width: 100%;
				    display: block;
					&.codigo{
						font-size: 0.65rem;
					    font-weight: lighter;
					}
				}
			}
		}
		.btn{
			margin-top: 1rem;
			.button{
				color: #fff !important;
				//background-color: #009b37 !important;
				font-weight: 700;
				padding: 0.5rem 0rem;
			}
		}
	}
}