.drift-open {
    z-index: 5 !important;
}
.drift-bounding-box{
    @media only screen and (max-width: 900px){
        display: none;
    }
}
$rosa-claro: #e0565f;
.vistaProducto{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 7vmin 0 5vmin 0;
    p{
        margin: 0;
        padding: 0;
    }
    .contenido{
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 4vw;
        grid-row-gap: 2vh;
        width: 80%;
        @media only screen and (min-width: $tablet-l){
            grid-template-columns: minmax(0, 1fr) 60%;
            width: 70%;
        }
        @media only screen and (min-width: $laptop-l){
            width: 60%;
        }
        .foto, .descProducto{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            @media only screen and (min-width: $tablet-l){
                height: 100%;
            }
        }
        .foto{
            justify-content: start;
            align-content: space-between;
            .imagen{
                position: relative;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-content: center;
                img{
                    width: 75%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    @media only screen and (min-width: $tablet-l){
                        width: 100%;
                    }
                }
                margin-bottom: 0.5rem;
            }
            .descImagen{
                font-size: var(--smaller-text);
                width: 100%;
                height: 1rem;
                padding: 0;
                margin-bottom: 1rem;
            }
            .imagenes-extra{
                position: relative;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-content: center;
                .swiper-container {
                    width: 100%;
                    padding-top: 1.25rem;
                    padding-bottom: 3.125rem;
                }
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 6.25rem;
                    height: 6.25rem;
                }
                .is-slide-active {
                    box-sizing: border-box;
                    border: $rosa-claro solid 2px;
                }
            }
            .compartir{
                height: 2.5rem;
                background-color: #fff;
                width: 100%;
                color: $rosa-claro;
                font-size: var(--medium-text);
                font-weight: 200;
                display: flex;
                justify-content: center;
                align-items: center;

                >*{
                    margin-right: 0.6rem;
                }

                img{
                    width: 2rem;
                    height: 2rem;
                    
                }
                .share{
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .descProducto{
            >div{
                margin-bottom: 1.8rem;
            }
            .opciones{
                display: flex;
                flex-direction: column;
                >div{
                    margin-bottom: 1.5rem;
                }
                .tituloProducto{
                    font-size: var(--biger-text);
                    font-weight: 600;
                    //text-transform: uppercase;
                }
                .tamano{
                    p{
                        font-size: var(--medium-text);
                        font-weight: lighter;
                        line-height: 1.3;
                        letter-spacing: 0.3rem;
                        margin-bottom: 0.3rem;
                    }
                    margin-bottom: 0.5rem;
                }
                .precio{
                    display: flex;
                    height: auto;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 0.8rem;
                    .desde{
                        font-size: var(--large-text);
                        font-weight: 600;
                        line-height: 1.2;
                    }

                    #sumadorProductos{
                        display: flex;
                        .mas, .menos{
                            -webkit-transition: all 0.05s ease;
                            transition: all 0.05s ease;
                            &:active {
                                transform: scale(2);
                                -webkit-transition: all 0.05s ease;
                                transition: all 0.05s ease;
                            }
                        }
                        button{
                            height: 2.5rem;
                            width: 2.5rem;
                            color: $rosa-claro;
                            font-size: var(--large-text);
                            font-weight: 400;
                            
                        }
                        .cantidad{
                            border: $rosa-claro solid 2px;
                            min-height: 2.5rem;
                            width: 2.5rem;
                            max-width: 4rem;
                            width: auto;
                            color: $rosa-claro;
                            font-size: var(--large-text);
                            font-weight: 400;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                        }
                    }
                    
                }
                .detalles{
                    //display: grid;
                    //grid-template-columns: repeat(3, 1fr);
                    .detalle{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0.6rem 5%;
                        width: 100%;
                        position: relative;
                        p:nth-child(1){
                            font-size: calc(var(--small-text) * 1.1);
                            font-weight: 600;
                            letter-spacing: 0.08rem;
                            line-height: 1.35rem;
                        }
                        p:nth-child(2){
                            font-size: var(--smaller-text);
                            font-weight: 400;
                            color: rgb(185, 184, 184);
                            letter-spacing: 0.1rem;
                            word-break: break-all;
                            line-height: 1.35rem;
                            max-height: 21px;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 80%;
                            text-overflow: ellipsis;
                        }
                    }
                    .detalle:nth-child(2){
                        border-left: rgb(226, 226, 226) solid 2px;
                        border-right: rgb(226, 226, 226) solid 2px;
                    }
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                        width: 33% !important;
                        border-top: rgb(226, 226, 226) solid 2px;
                        border-bottom: rgb(226, 226, 226) solid 2px;
                    }
                    
                    .swiper-slide-next {
                        border-left: rgb(226, 226, 226) solid 2px;
                        border-right: rgb(226, 226, 226) solid 2px;
                    }
                    
                    .swiper-pagination {
                        position: relative !important;
                        bottom: 0px !important;
                    }

                    .swiper-button-next{
                        top: 50% !important;
                        right: -0.5% !important;
                    }
                    .swiper-button-next:after{
                        font-size: 1.65rem !important;
                    }

                    .swiper-button-prev{
                        top: 50% !important;
                        left: -0.5% !important;
                    }
                    .swiper-button-prev:after{
                        font-size: 1.65rem !important;
                    }
                }
                .anadir{
                    height: 3rem;
                    background-color: #009b37;
                    color: #fff;
                    font-size: var(--medium-text);
                    font-weight: 600;
                }

            }
            .descripcion{
                margin-bottom: 0;
                p{
                    line-height: 1.2;
                }
                >*{
                    margin-bottom: 1rem;
                }
                .titulo{
                    font-size: var(--larger-text);
                    font-weight: 600;
                }
                .fullDescProducto{
                    font-size: var(--medium-text);
                    font-weight: 500;
                }
                .codigo{
                    font-size: var(--small-text);
                    font-weight: 100;
                }
            }
        }
    }
}

.tabul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10vmin;
    .contenidoTab{
        width: 80%;
        @media only screen and (min-width: $tablet-l){
            width: 65%;
        }
        .tabs-content{
            border: solid rgb(168, 168, 168) 2px;
            box-sizing: border-box;
        }
        .tabs{
            border: none;
            position: relative;
            li{
                width: 100%;
                position: relative;
                top:2px;
                a{  
                    background-color: #292929;
                    color: #fff;
                    font-size: var(--medium-text);
                    font-weight: 100;
                }
            }
            .is-active{
                a{
                    background-color: #fff;
                    color: #292929;
                    border: solid rgb(168, 168, 168) 2px;
                }
            }
            @media only screen and (min-width: $tablet-l){
                li{
                    width: auto;
                }
                .is-active{
                    a{
                        background-color: #fff;
                        color: #292929;
                        border-top: solid rgb(168, 168, 168) 2px;
                        border-bottom: none;
                    }
                }
                li:first-child{
                    &.is-active{
                        a{
                            border: solid rgb(168, 168, 168) 2px;
                            border-right: none;
                            border-bottom: none;
                        }
                    }
                }
                li:last-child{
                    &.is-active{
                        a{
                        border: solid rgb(168, 168, 168) 2px;
                        border-left: none;
                        border-bottom: none;
                
                        }
                    }
                }
            }
        }
    }

    .tabs-panel{
        .contenido{
            display: grid;
            grid-template-columns: 100%;
            grid-column-gap: 2%;
            grid-row-gap: 2%;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            @media only screen and (min-width: $tablet-l){
                grid-template-columns: 100%;
            }
            .imagen, .texto{
                display: flex;
                align-items: center;
            }
            .imagen{
                justify-content: center;
                img{
                    width: 100%;
                    padding: 0.8rem;
                    box-sizing: border-box;
                }
            }
            .texto{
                padding-left: 7%;
                font-size: calc(var(--medium-text) * 0.9);
                font-weight: 100;
                ul{
                    li{
                        margin-bottom: 2vmin;
                        line-height: 1.2;
                    }
                }
            }
            .swiper-container {
                width: 100%;
                padding-top: 3.125rem;
                padding-bottom: 3.125rem;
            }
            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 18.75rem;
                height: 18.75rem;
            }
        }
    }
}

.fancybox-thumbs{
    background: #202020 !important;
}
  
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
  
.hidden {
    display: none;
}
  
button, .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}

.button-social{
    color: #fff !important;
    background-color: #c50511;
}
.button-social:hover{
    background-color: $rosa-claro;
}
.button-social:focus{
    background-color: #c50511;
}
  
.share-button, .copy-link {
    padding-left: 30px;
    padding-right: 30px;
}
  
.share-button, .share-dialog {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.share-dialog {
    display: none;
    width: 100%;
    max-width: 500px !important;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}
  
.share-dialog.is-open {
    display: block;
    z-index: 2;
}
  
.header-dialog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.targets {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}
  
.close-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
  
.close-button svg {
    margin-right: 0;
}
  
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}
  
.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}