.formaParte{
    .contenido{
        .izq{
            form{
                *{
                    grid-column: 1 / 3;
                }
                @media only screen and (min-width: $tablet-m) {
                    *{
                        grid-column: auto;
                    }
                    #email, #mensaje, #telefono2{
                        grid-column: 1 / 3;
                    }
                }
            }
        }
        .der{
            overflow: hidden;
            img{
                display: none;
                @media only screen and (min-width: $mobile-l) {
                    top: 30%;
                    display: block;
                }
                @media only screen and (min-width: $laptop-s) {
                    top: 10%;
                }
                @media only screen and (min-width: $laptop-l) {
                    top: 0%;
                }
                @media only screen and (min-width: $pc-s) {
                    top: -8%;
                }
                @media only screen and (min-width: $pc-m) {
                    top: -12%;
                }
            }
            @media only screen and (min-width: $mobile-l) {
                overflow: unset;
            }
            @media only screen and (min-width: $laptop-l) {
                max-height: 65vh;
            }
        }
    }
}
