.seccionSucursales{
    width: 100%;
    display: flex;
    justify-content: center;
    .contenido{
        .titulo{
            text-align: center;
        }
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vmin 0;
        @media only screen and (min-width: $tablet-m) {
            width: 75%;
        }
        @media only screen and (min-width: $laptop-s) {
            width: 70%;
        }
        h3{
            text-transform: uppercase;
            font-size: var(--biger-text);
            font-weight: 600;
            margin-bottom: 2rem;
        }
        .sucursales{
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-column-gap: 4vw;
            @media only screen and (min-width: $tablet-m) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @media only screen and (min-width: $laptop-s) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
            .sucursal{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    width: 75%;
                    @media only screen and (min-width: $tablet-m) {
                        width: 90%;
                    }
                    -webkit-filter: drop-shadow(-2px 2px 5px #222 );
                    filter: drop-shadow(-2px 2px 5px #222);
                    margin-bottom: 1rem;
                }
                .texto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h4{
                        text-align: center;
                        font-size: var(--medium-text);
                        font-weight: 600;
                        font-style: oblique;
                    }
                    p{
                        width: 65%;
                        font-size: var(--smallest-text);
                        text-align: center;
                        line-height: 1.2;
                        span{
                            color: #E06B73;
                        }
                    }
                }
            }
        }
    }
}