.infoProducto{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .btn{
        background-color: #e7e7e7;
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid #dadada;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &.btn-default{
            background-color: #28af47;
            color: #FFF;
        }
        &.btn-cancel{
            background-color: #dc3545;
            color: #FFF;
        }
    }
    .titulo{
        width: 100%;
        color: #fff;
        font-size: var(--biger-text);
        font-weight: 600;
        text-align: center;
        background-color: var(--color-titulo-categorias);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .opciones{
        position: relative;
        width: 100%;
        height: 100%;
        .botonesControl{
            display: flex;
            flex-direction: column;
            position: fixed;
            right: 2rem;
            top: 6rem;
            background-color: rgba(0, 0, 0, 0.034);
            .btn{
                margin-bottom: 0.5rem;
            }
        }

        &.scroll-content{
            display: flex;
            flex-direction: column;
            //align-items: center;
            padding-left: 4vh;
        }
    
        .opcion{
            border-top: 3px solid var(--color-titulo-categorias);
            margin: 1rem 0rem;
            width: 85%;
            box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
            border-radius: .25rem;
            display: flex;
            flex-direction: column;
            word-wrap: break-word;
            background-color: #fff;
            .header{
                position: relative;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                border-bottom: 1px solid rgba(0,0,0,.125);
                padding: .75rem 1.25rem;
                color: #495057;
                h3{
                    font-size: var(--medium-text);
                    font-weight: 400;
                    color: #494949;
                    margin: 0;
                }
            }
            .body{
                flex: 1 1 auto;
                padding: 1.25rem;
                .upload-area{
                    position: relative;
                    width: 100%;
                }
                .form-group{
                    label{
                        font-size: var(--small-text);
                        font-weight: 700;
                        display: inline-block;
                        margin-bottom: .25rem;
                        color: #495057;
                    }
                    .form-control{
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        box-shadow: inset 0 0 0 transparent;
                        font-size: var(--smaller-text);
                    }
                }
            }
            .footer{
                padding: .75rem 1.25rem;
                background-color: rgba(0,0,0,.03);
                border-top: 0 solid rgba(0,0,0,.125);
                display: flex;
                justify-content: space-between;
            }
            &.red{
                border-top: 3px solid#ffffff;
                .header{
                    background-color: var(--color-titulo-categorias);
                    h3{
                        color: #ffffff;
                    }
                }
            }

            &.green{
                border-top: 3px solid#ffffff;
                .header{
                    background-color: #339b57;
                    h3{
                        color: #ffffff;
                    }
                }
            }
        }

        .doubleOpcion{
            width: 85%;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 2%;
            .opcion{
                width: 100%;
                //align-self: start;
            }
        }
    }
}

.modal-backdrop{
    z-index: 0 !important;
}