@font-face {
	font-family: 'Conv_proxima_nova_reg-webfont';
	src: url('fonts/proxima_nova_reg-webfont.eot');
	src: local('☺'), url('fonts/proxima_nova_reg-webfont.woff') format('woff'), url('fonts/proxima_nova_reg-webfont.ttf') format('truetype'), url('fonts/proxima_nova_reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima-Nova-Black';
	src: url('fonts/Proxima-Nova-Black.eot');
	src: local('☺'), url('fonts/Proxima-Nova-Black.woff') format('woff'), url('fonts/Proxima-Nova-Black.ttf') format('truetype'), url('fonts/Proxima-Nova-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima-Nova-Sbold';
	src: url('fonts/Proxima-Nova-Sbold.eot');
	src: local('☺'), url('fonts/Proxima-Nova-Sbold.woff') format('woff'), url('fonts/Proxima-Nova-Sbold.ttf') format('truetype'), url('fonts/Proxima-Nova-Sbold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


h1, h2, h3, h4, h5, h6, p, a, span {
	font-family: 'Conv_proxima_nova_reg-webfont', Verdana, Tahoma, Geneva, sans-serif;
}

body {
	font-family: 'Conv_proxima_nova_reg-webfont', Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

a, input {
	outline: none;
}

.button-group{
    .button{
        &.active{
            background-color: #44698c;
            color: #fefefe;
        }
    }
}

.off-canvas-content{
    background-color: #005199;
}

#resaltar-titulo{
    background-color: #4f7ea9;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

input {
	box-shadow: none !important;
	border-color: #a7a7a6;
}

select {
	border-color: #a7a7a6;
}

html.is-reveal-open, html.is-reveal-open body{
    position: initial !important;
}

.reveal{
    outline: none !important;
}

.titulo1{
    color: #e82f82;
    position: relative;
    text-transform: uppercase;
    span {
        display: block;
        font-size: 1.5rem;
    }
    &:before {
        border-bottom: 1px solid #9d9d9c;
        position: absolute;
        content: " ";
        width: 55%;
        bottom: 0rem;
        z-index: 0;
    }
    &.t-home{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.titulo2{
    color: #e82f82;
    position: relative;
    text-transform: uppercase;
    &.t-home{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

$mobile-xs: 250px;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 480px;
$tablet-s: 640px; //medium foundation
$tablet-m: 720px;
$tablet-l: 950px;
$laptop-s: 1024px; //large foundation
$laptop-m: 1100px;
$laptop-l: 1250px;
$pc-s: 1440px;
$pc-m: 1920px;
$pc-xl: 2560px;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

:root{
	--smallest-text: calc(0.3rem + 1.2vmin);
	--smaller-text: calc(0.45rem + 1.2vmin);
	--small-text: calc(0.5rem + 1.2vmin);
	--medium-text: calc(0.8rem + 1.15vmin);
	--large-text: calc(1.0rem + 1.15vmin);
	--larger-text: calc(1.25rem + 1.1vmin);
	--largest-text: calc(1.45rem + 1.1vmin);
	--big-text: calc(1.55rem + 0.75vmin);
	--biger-text: calc(1.6rem + 0.8vmin);
	--bigest-text: calc(1.7rem + 0.85vmin);
	--huge-text: calc(1.9rem + 0.8vmin);
	--epic-text: calc(2rem + 0.78vmin);
	--giant-text: calc(2.2rem + 0.75vmin);
	--colossal-text: calc(2.4rem + 0.7vmin);
	

	@media only screen and (min-width: $mobile-l){
		--smallest-text: calc(0.38rem + 1.0vmin);
		--smaller-text: calc(0.55rem + 1.0vmin);
		--small-text: calc(0.6rem + 1.0vmin);
		--medium-text: calc(0.9rem + 1.0vmin);
		--large-text: calc(1.1rem + 1.0vmin);
		--larger-text: calc(1.3rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.7rem + 1.0vmin);
		--biger-text: calc(1.9rem + 0.95vmin);
		--bigest-text: calc(2.1rem + 0.9vmin);
		--huge-text: calc(2.1rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.82vmin);
		--giant-text: calc(2.8rem + 0.8vmin);
		--colossal-text: calc(3.0rem + 0.75vmin);
	}

	@media only screen and (min-width: $tablet-s){
		--smallest-text: calc(0.45rem + 1.15vmin);
		--smaller-text: calc(0.63rem + 1.15vmin);
		--small-text: calc(0.75rem + 1.15vmin);
		--medium-text: calc(1.1rem + 1.15vmin);
		--large-text: calc(1.2rem + 1.15vmin);
		--larger-text: calc(1.4rem + 1.05vmin);
		--largest-text: calc(1.55rem + 1.05vmin);
		--big-text: calc(1.65rem + 1.05vmin);
		--biger-text: calc(1.75rem + 1.05vmin);
		--bigest-text: calc(1.95rem + 1.05vmin);
		--huge-text: calc(2.6rem + 1.05vmin);
		--epic-text: calc(3.2rem + 1.05vmin);
		--giant-text: calc(3.7rem + 1.05vmin);
		--colossal-text: calc(3.9rem + 1.05vmin);
	}

	@media only screen and (min-width: $tablet-m){
		--smallest-text: calc(0.45rem + 1.0vmin);
		--smaller-text: calc(0.63rem + 1.0vmin);
		--small-text: calc(0.75rem + 1.0vmin);
		--medium-text: calc(1.1rem + 1.0vmin);
		--large-text: calc(1.2rem + 1.0vmin);
		--larger-text: calc(1.4rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.6rem + 1.0vmin);
		--biger-text: calc(1.7rem + 0.95vmin);
		--bigest-text: calc(1.9rem + 0.92vmin);
		--huge-text: calc(2.4rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.8vmin);
		--giant-text: calc(3.05rem + 0.85vmin);
		--colossal-text: calc(3.4rem + 0.8vmin);
	}

	@media only screen and (min-width: $tablet-l){
		--smallest-text: calc(0.6rem + 0.5vmin);
		--smaller-text: calc(0.7rem + 0.5vmin);
		--small-text: calc(0.8rem + 0.5vmin);
		--medium-text: calc(1.2rem + 0.5vmin);
		--large-text: calc(1.4rem + 0.5vmin);
		--larger-text: calc(1.60rem + 0.5vmin);
		--largest-text: calc(1.80rem + 0.5vmin);
		--big-text: calc(1.95rem + 0.6vmin);
		--biger-text: calc(2.1rem + 0.7vmin);
		--bigest-text: calc(2.5rem + 0.7vmin);
		--huge-text: calc(2.75rem + 0.8vmin);
		--epic-text: calc(3.0rem + 0.8vmin);
		--giant-text: calc(3.4rem + 0.8vmin);
		--colossal-text: calc(3.7rem + 0.8vmin);
	}


	@media only screen and (min-width: $laptop-s){
		--smallest-text: 0.8rem;
		--smaller-text: 0.9rem;
		--small-text: 1.09rem;
		--medium-text: 1.28rem;
		--large-text: 1.47rem;
		--larger-text: 1.68rem;
		--largest-text: 1.85rem;
		--big-text: 2.08rem;
		--biger-text: 2.28rem;
		--bigest-text: 2.58rem;
		--huge-text: 3.18rem;
		--epic-text: 3.68rem;
		--giant-text: 4.18rem;
		--colossal-text: 4.45rem;
	}

	@media only screen and (min-width: $laptop-m){
		--smallest-text: 0.85rem;
		--smaller-text: 0.95rem;
		--small-text: 1.16rem;
		--medium-text: 1.38rem;
		--large-text: 1.52rem;
		--larger-text: 1.74rem;
		--largest-text: 1.89rem;
		--big-text: 2.1rem;
		--biger-text: 2.3rem;
		--bigest-text: 2.6rem;
		--huge-text: 3.2rem;
		--epic-text: 3.7rem;
		--giant-text: 4.2rem;
		--colossal-text: 4.6rem;
	}
		
	@media only screen and (min-width: $laptop-l){
		--smallest-text: 0.79rem;
		--smaller-text: 0.91rem;
		--small-text: 1.12rem;
		--medium-text: 1.32rem;
		--large-text: 1.52rem;
		--larger-text: 1.72rem;
		--largest-text: 1.92rem;
		--big-text: 2.2rem;
		--biger-text: 2.4rem;
		--bigest-text: 2.7rem;
		--huge-text: 3.3rem;
		--epic-text: 3.8rem;
		--giant-text: 4.3rem;
		--colossal-text: 4.8rem;
	}

	@media only screen and (min-width: $pc-s){
		--smallest-text: 0.75rem;
		--smaller-text: 0.92rem;
		--small-text: 1.15rem;
		--medium-text: 1.35rem;
		--large-text: 1.55rem;
		--larger-text: 1.75rem;
		--largest-text: 2rem;
		--big-text: 2.3rem;
		--biger-text: 2.6rem;
		--bigest-text: 3rem;
		--huge-text: 3.5rem;
		--epic-text: 4rem;
		--giant-text: 4.5rem;
		--colossal-text: 5rem;
	}
}
