@font-face {
    font-family: 'Futura BdCn BT';
    src: url('fonts/FuturaBT-BoldCondensed.eot');
    src: url('fonts/FuturaBT-BoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('fonts/FuturaBT-BoldCondensed.woff') format('woff'),
        url('fonts/FuturaBT-BoldCondensed.ttf') format('truetype'),
        url('fonts/FuturaBT-BoldCondensed.svg#FuturaBT-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT Italic';
    src: url('fonts/FuturaBT-BookItalic.eot');
    src: url('fonts/FuturaBT-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-BookItalic.woff2') format('woff2'),
        url('fonts/FuturaBT-BookItalic.woff') format('woff'),
        url('fonts/FuturaBT-BookItalic.ttf') format('truetype'),
        url('fonts/FuturaBT-BookItalic.svg#FuturaBT-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('fonts/FuturaBT-MediumItalic.eot');
    src: url('fonts/FuturaBT-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('fonts/FuturaBT-MediumItalic.woff') format('woff'),
        url('fonts/FuturaBT-MediumItalic.ttf') format('truetype'),
        url('fonts/FuturaBT-MediumItalic.svg#FuturaBT-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LtCn BT';
    src: url('fonts/FuturaBT-LightCondensed.eot');
    src: url('fonts/FuturaBT-LightCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-LightCondensed.woff2') format('woff2'),
        url('fonts/FuturaBT-LightCondensed.woff') format('woff'),
        url('fonts/FuturaBT-LightCondensed.ttf') format('truetype'),
        url('fonts/FuturaBT-LightCondensed.svg#FuturaBT-LightCondensed') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-black-bold';
    src: url('fonts/Futura-Black-Bold.eot');
    src: url('fonts/Futura-Black-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-Black-Bold.woff2') format('woff2'),
        url('fonts/Futura-Black-Bold.woff') format('woff'),
        url('fonts/Futura-Black-Bold.ttf') format('truetype'),
        url('fonts/Futura-Black-Bold.svg#Futura-Black-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('fonts/FuturaBT-Light.eot');
    src: url('fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-Light.woff2') format('woff2'),
        url('fonts/FuturaBT-Light.woff') format('woff'),
        url('fonts/FuturaBT-Light.ttf') format('truetype'),
        url('fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('fonts/FuturaBT-ExtraBlack.eot');
    src: url('fonts/FuturaBT-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('fonts/FuturaBT-ExtraBlack.woff') format('woff'),
        url('fonts/FuturaBT-ExtraBlack.ttf') format('truetype'),
        url('fonts/FuturaBT-ExtraBlack.svg#FuturaBT-ExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Book';
    src: url('fonts/FuturaBT-Book.eot');
    src: url('fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-Book.woff2') format('woff2'),
        url('fonts/FuturaBT-Book.woff') format('woff'),
        url('fonts/FuturaBT-Book.ttf') format('truetype'),
        url('fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('fonts/FuturaBT-LightItalic.eot');
    src: url('fonts/FuturaBT-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-LightItalic.woff2') format('woff2'),
        url('fonts/FuturaBT-LightItalic.woff') format('woff'),
        url('fonts/FuturaBT-LightItalic.ttf') format('truetype'),
        url('fonts/FuturaBT-LightItalic.svg#FuturaBT-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('fonts/FuturaBT-ExtraBlack_1.eot');
    src: url('fonts/FuturaBT-ExtraBlack_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-ExtraBlack_1.woff2') format('woff2'),
        url('fonts/FuturaBT-ExtraBlack_1.woff') format('woff'),
        url('fonts/FuturaBT-ExtraBlack_1.ttf') format('truetype'),
        url('fonts/FuturaBT-ExtraBlack_1.svg#FuturaBT-ExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Condensed Bold';
    src: url('fonts/FuturaBT-MediumCondensed.eot');
    src: url('fonts/FuturaBT-MediumCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('fonts/FuturaBT-MediumCondensed.woff') format('woff'),
        url('fonts/FuturaBT-MediumCondensed.ttf') format('truetype'),
        url('fonts/FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('fonts/FuturaBT-Heavy.eot');
    src: url('fonts/FuturaBT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-Heavy.woff2') format('woff2'),
        url('fonts/FuturaBT-Heavy.woff') format('woff'),
        url('fonts/FuturaBT-Heavy.ttf') format('truetype'),
        url('fonts/FuturaBT-Heavy.svg#FuturaBT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('fonts/Futura-Bold_1.eot');
    src: url('fonts/Futura-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-Bold_1.woff2') format('woff2'),
        url('fonts/Futura-Bold_1.woff') format('woff'),
        url('fonts/Futura-Bold_1.ttf') format('truetype'),
        url('fonts/Futura-Bold_1.svg#Futura-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('fonts/FuturaBT-HeavyItalic.eot');
    src: url('fonts/FuturaBT-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-HeavyItalic.woff2') format('woff2'),
        url('fonts/FuturaBT-HeavyItalic.woff') format('woff'),
        url('fonts/FuturaBT-HeavyItalic.ttf') format('truetype'),
        url('fonts/FuturaBT-HeavyItalic.svg#FuturaBT-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaBT Bold Italic';
    src: url('fonts/FuturaBT-BoldItalic.eot');
    src: url('fonts/FuturaBT-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('fonts/FuturaBT-BoldItalic.woff') format('woff'),
        url('fonts/FuturaBT-BoldItalic.ttf') format('truetype'),
        url('fonts/FuturaBT-BoldItalic.svg#FuturaBT-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura XBlkCnIt BT';
    src: url('fonts/FuturaBT-ExtraBlackCondItalic.eot');
    src: url('fonts/FuturaBT-ExtraBlackCondItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
        url('fonts/FuturaBT-ExtraBlackCondItalic.woff') format('woff'),
        url('fonts/FuturaBT-ExtraBlackCondItalic.ttf') format('truetype'),
        url('fonts/FuturaBT-ExtraBlackCondItalic.svg#FuturaBT-ExtraBlackCondItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaBT Md ';
    src: url('fonts/FuturaBT-Medium.eot');
    src: url('fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('fonts/FuturaBT-Medium.woff') format('woff'),
        url('fonts/FuturaBT-Medium.ttf') format('truetype'),
        url('fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-CondensedLight.eot');
    src: url('fonts/Futura-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-CondensedLight.woff2') format('woff2'),
        url('fonts/Futura-CondensedLight.woff') format('woff'),
        url('fonts/Futura-CondensedLight.ttf') format('truetype'),
        url('fonts/Futura-CondensedLight.svg#Futura-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

html *{
    font-family: 'Futura';
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}

$mobile-xs: 250px;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 480px;
$tablet-s: 640px; //medium foundation
$tablet-m: 720px;
$tablet-l: 950px;
$laptop-s: 1024px; //large foundation
$laptop-m: 1100px;
$laptop-l: 1250px;
$pc-s: 1440px;
$pc-m: 1920px;
$pc-xl: 2560px;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

:root{
	--smallest-text: calc(0.3rem + 1.2vmin);
	--smaller-text: calc(0.45rem + 1.2vmin);
	--small-text: calc(0.5rem + 1.2vmin);
	--medium-text: calc(0.8rem + 1.15vmin);
	--large-text: calc(1.0rem + 1.15vmin);
	--larger-text: calc(1.25rem + 1.1vmin);
	--largest-text: calc(1.45rem + 1.1vmin);
	--big-text: calc(1.55rem + 0.75vmin);
	--biger-text: calc(1.6rem + 0.8vmin);
	--bigest-text: calc(1.7rem + 0.85vmin);
	--huge-text: calc(1.9rem + 0.8vmin);
	--epic-text: calc(2rem + 0.78vmin);
	--giant-text: calc(2.2rem + 0.75vmin);
	--colossal-text: calc(2.4rem + 0.7vmin);
	

	@media only screen and (min-width: $mobile-l){
		--smallest-text: calc(0.38rem + 1.0vmin);
		--smaller-text: calc(0.55rem + 1.0vmin);
		--small-text: calc(0.6rem + 1.0vmin);
		--medium-text: calc(0.9rem + 1.0vmin);
		--large-text: calc(1.1rem + 1.0vmin);
		--larger-text: calc(1.3rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.7rem + 1.0vmin);
		--biger-text: calc(1.9rem + 0.95vmin);
		--bigest-text: calc(2.1rem + 0.9vmin);
		--huge-text: calc(2.1rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.82vmin);
		--giant-text: calc(2.8rem + 0.8vmin);
		--colossal-text: calc(3.0rem + 0.75vmin);
	}

	@media only screen and (min-width: $tablet-s){
		--smallest-text: calc(0.45rem + 1.15vmin);
		--smaller-text: calc(0.63rem + 1.15vmin);
		--small-text: calc(0.75rem + 1.15vmin);
		--medium-text: calc(1.1rem + 1.15vmin);
		--large-text: calc(1.2rem + 1.15vmin);
		--larger-text: calc(1.4rem + 1.05vmin);
		--largest-text: calc(1.55rem + 1.05vmin);
		--big-text: calc(1.65rem + 1.05vmin);
		--biger-text: calc(1.75rem + 1.05vmin);
		--bigest-text: calc(1.95rem + 1.05vmin);
		--huge-text: calc(2.6rem + 1.05vmin);
		--epic-text: calc(3.2rem + 1.05vmin);
		--giant-text: calc(3.7rem + 1.05vmin);
		--colossal-text: calc(3.9rem + 1.05vmin);
	}

	@media only screen and (min-width: $tablet-m){
		--smallest-text: calc(0.45rem + 1.0vmin);
		--smaller-text: calc(0.63rem + 1.0vmin);
		--small-text: calc(0.75rem + 1.0vmin);
		--medium-text: calc(1.1rem + 1.0vmin);
		--large-text: calc(1.2rem + 1.0vmin);
		--larger-text: calc(1.4rem + 1.0vmin);
		--largest-text: calc(1.5rem + 1.0vmin);
		--big-text: calc(1.6rem + 1.0vmin);
		--biger-text: calc(1.7rem + 0.95vmin);
		--bigest-text: calc(1.9rem + 0.92vmin);
		--huge-text: calc(2.4rem + 0.85vmin);
		--epic-text: calc(2.6rem + 0.8vmin);
		--giant-text: calc(3.05rem + 0.85vmin);
		--colossal-text: calc(3.4rem + 0.8vmin);
	}

	@media only screen and (min-width: $tablet-l){
		--smallest-text: calc(0.6rem + 0.5vmin);
		--smaller-text: calc(0.7rem + 0.5vmin);
		--small-text: calc(0.8rem + 0.5vmin);
		--medium-text: calc(1.2rem + 0.5vmin);
		--large-text: calc(1.4rem + 0.5vmin);
		--larger-text: calc(1.60rem + 0.5vmin);
		--largest-text: calc(1.80rem + 0.5vmin);
		--big-text: calc(1.95rem + 0.6vmin);
		--biger-text: calc(2.1rem + 0.7vmin);
		--bigest-text: calc(2.5rem + 0.7vmin);
		--huge-text: calc(2.75rem + 0.8vmin);
		--epic-text: calc(3.0rem + 0.8vmin);
		--giant-text: calc(3.4rem + 0.8vmin);
		--colossal-text: calc(3.7rem + 0.8vmin);
	}


	@media only screen and (min-width: $laptop-s){
		--smallest-text: 0.8rem;
		--smaller-text: 0.9rem;
		--small-text: 1.09rem;
		--medium-text: 1.28rem;
		--large-text: 1.47rem;
		--larger-text: 1.68rem;
		--largest-text: 1.85rem;
		--big-text: 2.08rem;
		--biger-text: 2.28rem;
		--bigest-text: 2.58rem;
		--huge-text: 3.18rem;
		--epic-text: 3.68rem;
		--giant-text: 4.18rem;
		--colossal-text: 4.45rem;
	}

	@media only screen and (min-width: $laptop-m){
		--smallest-text: 0.85rem;
		--smaller-text: 0.95rem;
		--small-text: 1.16rem;
		--medium-text: 1.38rem;
		--large-text: 1.52rem;
		--larger-text: 1.74rem;
		--largest-text: 1.89rem;
		--big-text: 2.1rem;
		--biger-text: 2.3rem;
		--bigest-text: 2.6rem;
		--huge-text: 3.2rem;
		--epic-text: 3.7rem;
		--giant-text: 4.2rem;
		--colossal-text: 4.6rem;
	}
		
	@media only screen and (min-width: $laptop-l){
		--smallest-text: 0.79rem;
		--smaller-text: 0.91rem;
		--small-text: 1.12rem;
		--medium-text: 1.32rem;
		--large-text: 1.52rem;
		--larger-text: 1.72rem;
		--largest-text: 1.92rem;
		--big-text: 2.2rem;
		--biger-text: 2.4rem;
		--bigest-text: 2.7rem;
		--huge-text: 3.3rem;
		--epic-text: 3.8rem;
		--giant-text: 4.3rem;
		--colossal-text: 4.8rem;
	}

	@media only screen and (min-width: $pc-s){
		--smallest-text: 0.75rem;
		--smaller-text: 0.92rem;
		--small-text: 1.15rem;
		--medium-text: 1.35rem;
		--large-text: 1.55rem;
		--larger-text: 1.75rem;
		--largest-text: 2rem;
		--big-text: 2.3rem;
		--biger-text: 2.6rem;
		--bigest-text: 3rem;
		--huge-text: 3.5rem;
		--epic-text: 4rem;
		--giant-text: 4.5rem;
		--colossal-text: 5rem;
	}
}	

:root{
    --darkest-blue-color: #152A5C;
    --darker-blue-color: #03178a;
    --dark-blue-color: #3a4d7c;
}

