.full-banner{
    width: 100%;
    img{
        width: 100%;
    }
}

.second-banner{
    position: relative;
    .comprar{
        border: none;
        border-radius: 10px;
        color: #ffffff;
        position: absolute;
        top: 70%;
        left: 6%;
        font-size: var(--giant-text);
        padding: 0rem 5rem;
        background: rgb(38,10,154);
        background: linear-gradient(58deg, #260a9a 0%, #4c0c84 37%, #770e6b 100%);
        box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
    }
}

.ligas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-image: linear-gradient(to bottom, #caccd1, #d2d4d9, #dadce0, #e2e5e8, #eaedf0);
    padding: 4% 10%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .liga{
        margin: 1rem;
        img{
            max-height: 5rem;
            max-width: 10rem;
        }
    }
}

.title{
    color: var(--darkest-blue-color);
    font-size: var(--bigest-text);
    text-transform: uppercase;
    font-family: "Futura Condensed Bold";
}

.show-case-products{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 6rem 0;
    .title{
        margin-bottom: 4rem;
    }
    .slickContainer{
        position: relative;
        width: 70%;
        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .body, .footer{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .img-producto, .img{
                width: 100%;
                height: 30vh;
                display: flex;
                justify-content: center;
            }
            img{
                height: 100%;
            }
            .footer{
                margin-top: 1rem;
                p{
                    margin: 0;
                    font-size: var(--medium-text);
                    line-height: 1.1;
                    text-transform: uppercase;
                }
            }
        }
    }
    .slickPromociones{
        .footer{
            .producto{
                width: 70%;
                p{
                    font-size: var(--medium-text);
                    color: var(--darkest-blue-color);
                }
                .nombre{
                    font-weight: 600;
                }
                .talla{
                    font-family: 'Futura Book';
                }
                .precio{
                    margin-top: 1rem;
                    color: #76767A;
                    font-family: 'Futura Bold';
                }
                .oferta{
                    color: #D71A20;
                    font-family: 'Futura Bold';
                }
            }
        }
    }
    .slickCatalogo{
        width: 85%;
        .box{
            margin: 0 1rem;
            box-shadow: 10px 22px 16px -7px #000000bf;
            .img-producto{
                height: 25vh;
            }
            .footer{
                .nombre{
                    background-color: var(--darkest-blue-color);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .nombre{
                        margin: 0;
                        color: #fff;
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}

