.ui-switcher {
  background-color: #bdc1c2;
  display: inline-block;
  height: 1.5rem;
  width: 5rem;
  border-radius: 1.2rem;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: -2px 4px 0 0;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.ui-switcher:before {
  font-family: sans-serif;
  font-size: var(--smallest-text);
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 6px;
  height: 12px;
  width: 50px;
  text-align: center;
}
.ui-switcher[aria-checked=false]:before {
  content: 'Ocultar';
  right: 0.5rem;
}
.ui-switcher[aria-checked=true]:before {
  content: 'Mostrar';
  left:  0.5rem;
}
.ui-switcher[aria-checked=true] {
  background-color: #25ba9a;
}
.ui-switcher:after {
  background-color: #ffffff;
  content: '\0020';
  display: inline-block;
  position: absolute;
  top: 2px;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  transition: left 0.25s;
}
.ui-switcher[aria-checked=false]:after {
  left: 2px;
}
.ui-switcher[aria-checked=true]:after {
  left: calc(3.8rem - 2px);
}
